/* Text */
.container-text p{
  font-size: 18px;
  font-weight: 500;
  font-family: var(--tipografiaS);
  margin-top: 40px;
}

.container-text .btn-download-cv{
  display: block;
  width: fit-content;
  font-family: var(--tipografiaP);
  color: #fff;
  background-color: var(--color2);
  border: 2px solid var(--color5);
  text-decoration: none;
  padding: 10px;
  margin: 30px 0;
  cursor: pointer;
  transition: background-color .3s ease,color .3s ease;
}

.container-text .btn-download-cv:hover{
  background-color: transparent;
  color: var(--color5);
}

.container-text .btn-download-cv i{
  margin-left: 10px;
}


/* TagCanvas */

.container-tagcanvas{
  width: 50%;
  margin: 0 50px;
}

.container-tagcanvas canvas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}
