/* Text */
.container-text p{
  font-size: 18px;
  font-weight: 500;
  font-family: var(--tipografiaS);
  margin-top: 40px;
}

/* TagCanvas */

.container-tagcanvas{
  width: 50%;
  margin: 0 50px;
}

.container-tagcanvas canvas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}
