/* Modal */
.modal-fullscreen{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 !important;
}

.modal-content{
  width: 70% !important;
}


.modal-header{
  border: none !important;
}

.gif{
  width: 100%;
  height: 50%;
}

.modal-body {
  padding: 0 !important;
}


/* Modal body */
.title-modal{
  font-size: 40px;
  font-family: var(--tipografiaP);
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  text-align: center;
  margin: 20px 0 40px 0;
  background-color: #000;
  padding: 20px;
}
  
.descripcion{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  margin: 0 50px;
}

.descripcion p{
  width: 50%;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  font-family: var(--tipografiaS);

}
  
.descripcion img{
  width: 50%;
  height: auto;
}

.container-funcionamiento{
  text-align: center;
  margin: 200px 0 20px 0;
}

.container-img-secciones{
  width: 100%;
  height: 100%;
}

.container-img-secciones img{
  width: 50%;
  height: 100%;
  border: 20px solid #4a4a4a;
  border-radius: 20px;
  transition: all .5s ease;
}

.container-img-secciones .img-width-change{
  width: 70%;
}

.container-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container-buttons div{
  font-size: 20px;
  color: #fff;
  margin: 30px 20px 5px 20px;
  background-color: #000;
  border-radius: 50%;
  padding: 15px 20px;
  cursor: pointer;
}

/* Footer */
.footer-modal{
  padding: 20px;
  background-color: var(--color5);
}

.container-footer-modal{
  text-align: center;
}

.container-footer-modal h4{
  font-family: var(--tipografiaT);
  color: #fff;
  font-weight: 900;
}

.container-footer-modal a{
  text-decoration: none;
  cursor: pointer;
}

/* Querys */

@media(max-width:1120px){

  .title-modal{
    font-size: 30px;
    padding: 10px;
  }

  .descripcion{
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .descripcion img{
    width: 100%;
  }
  .descripcion p{
    width: 100%;

    font-size: 18px;
    margin: 40px 0 0 0;
  }

  .container-footer-modal h4{
    font-size: 16px;
  }
}

@media(max-width:768px){
  .modal-content{
    width: 90% !important;
  }

  .container-funcionamiento{
    text-align: center;
    margin: 60px 0 10px 0;
  }

  .descripcion p{
    font-size: 16px;
    margin: 40px 0 0 0;
  }

  .title-modal{
    font-size: 30px;
    padding: 10px 0;
  }

  .footer-modal{
    padding: 20px 0px;
    background-color: var(--color5);
  }


  .container-footer-modal{
    overflow: scroll;
  }
  
}


@media(max-width:550px){

  .descripcion p{
    font-size: 14px;
    margin: 40px 0 0 0;
  }

  .container-img-secciones img{
    border: 10px solid #4a4a4a;
  }
  
}