.home-text, .home-img{
  max-width: 65%;
}


.home-img{
  position: relative;
  
}
.home-img::after{
  content:''; 
  position: absolute;
  width: 100px;
  height: 100px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  top: -30px;
  right: -30px;
}
.home-img::before{
  content:''; 
  position: absolute;
  width: 100px;
  height: 100px;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff;
  bottom: -30px;
  left: -30px;
}

.home-img .perfil{
  position: relative;
  width: 300px;
  height: auto;
  border-radius:40%;
  background-color: #fff;
  z-index: 2;
}



.home-text .title-home{
  display: inline-block;
  font-size: 60px;
  font-weight: 900;
  font-family: var(--tipografiaT);
}

.home-text .title-home:hover{
  color: var(--color5);
}


.home-text .container-p{
  max-width: 80%;
  margin-top: 20px;
}

.home-text p{
  font-size: 20px;
  font-weight: 500;
  font-family: var(--tipografiaS);
  margin: 0;
}

.home-text h2{
  margin: 0;
}

/* Querys */

@media(max-width:1220px){
  #home{
    padding: 50px 0 !important;
  }

}


@media(max-width:1090px){
  #home .container-page{
    padding: 0 !important;
  }
  
  .home-text, .home-img{
    max-width: 100%;
  }
  
  .home-text{
    order: 1;
    text-align: center;
    margin-top: 100px;
  }
  .home-img{
    order: 0;
  }

  .home-text .container-p{
    max-width: 100%;
    margin: 40px 100px ;
  }
  
}


@media(max-width:790px){
  .home-text .title-home{
    font-size:45px;
  }

  .home-img .perfil{
    width: 230px;
  }
  .home-img::before,
  .home-img::after{
    width: 50px;
    height: 50px;
  }

  .home-text p{
    font-size: 16px;
  }

  .home-text .container-p{
    width: 100%;
    margin: 40px 0;
  }

}



@media(max-width:600px){
  .home-img .perfil{
    width: 200px;
  }
  .home-img::before,
  .home-img::after{
    width: 35px;
    height: 35px;
  }
  
  .home-text{
    margin: 100px 15px;
  }

  .home-text .title-home{
    font-size:35px;
  }

  .home-text .container-p{
    width: 100%;
    margin: 20px 0;
  }
}

