.navbar-portfolio{  
  position: fixed;
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
  z-index: 3;
  transition: all .3s ease;
}
.menu-offcanvas,
.container-navbar-mobile{
  display: none;
}

.navbar-scroll{
  padding: 40px 0;
  background-color: var(--color5);
}

.container-navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-navbar .navbar-logo a{
  text-decoration: none;
}

.container-navbar .navbar-logo h1{
  font-size: 30px;
  font-weight: 400;
  font-family: var(--tipografiaP);
  margin-bottom: 0;
  color: #fff
}

.navbar-scroll .container-navbar .navbar-logo h1{
  color:#000;
}

.container-navbar .navbar-logo span{
  font-size: 40px;
  font-weight: 400;
  font-family: 'Silkscreen', cursive;
  margin-right:5px;
}

.container-navbar .nav-list{
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-navbar .nav-list li a{
  font-size: 20px;
  font-weight: 900;
  font-family: var(--tipografiaS);
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #fff;
  transition: color .3s ease;
}

.navbar-scroll .container-navbar .nav-list li a{
  color: var(--color1) !important;
}

.container-navbar .nav-list li{
  transition: transform .3s ease,background-color .3s ease,border-radius .3s ease;
}
.container-navbar .nav-list li:hover{
  transform: translateY(-3px);
}


.active{
  background-color:var(--color5);
  border-radius: 10px;
}

.navbar-scroll .active{
  background-color: #fff;
  border-radius: 10px;
}


.container-social{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-social .social-icon{
  position: relative;
  background-color: var(--color1);
  border-radius: 50%;
  padding: 11px 13px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  border: 3px solid #fff;
  transition: color .3s ease,border .3s ease;
  
}

.container-social .social-icon i{
  font-size: 25px;
  color: var(--color3);
  transition: color .3s ease;
}
.container-social .social-icon:hover i{
  color: #fff;
}
.container-social .social-icon:hover{
  border: 3px solid #000;
}

.navbar-scroll .container-social .social-icon i {
  color: #fff;
}

.container-social .social-icon::after {
  content: "";
  background: var(--color3);
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  transform: scale(0, 0);
  transition: all 0.4s ease;
}

.navbar-scroll .container-social .social-icon::after{
  background: var(--color5);
}

.container-social .social-icon:hover::after {
  transition: all 0.6s ease-out;
  transform: scale(1, 1);
}




.container-social .btn-redirect-contact{
  position: relative;
  font-size: 20px;
  font-weight: 900;
  font-family: var(--tipografiaT);
  color: var(--color3) !important;
  background-color: var(--color1);
  margin-left: 30px;
  padding: 10PX;
  overflow: hidden;
  border: 3px solid #fff;
  text-decoration: none;
  z-index: 1;
  cursor: pointer;
  transition: color .3s ease,border .3s ease;
}

.navbar-scroll .container-social .btn-redirect-contact {
  color: #fff !important;
}


.container-social .btn-redirect-contact:hover {
  color: #fff !important;
  border: 3px solid #000;
}

.container-social .btn-redirect-contact::after {
  content: "";
  background: var(--color3); 
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.navbar-scroll .container-social .btn-redirect-contact::after {
  background: var(--color5); 
}

.container-social .btn-redirect-contact:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

/* Querys */
@media(max-width:1220px){

  .container-navbar{
    display: none;
  }
  
  .container-navbar-mobile{
    display: unset;
    display: flex !important;
    justify-content: space-between;
    margin: 0 30px;
  }

  .menu-offcanvas{
    display: block;
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 70px;
    z-index: 3;
    transition: all 0.5s ease-in-out;
  }

  .nav-list{
    display: flex; 
    justify-content: center;
    align-items: center;
  }

  .nav-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .nav-list li{
    margin: 30px 0;
  }

  .nav-list a{
    font-size: 60px;
    font-family: var(--tipografiaT);
    font-weight: 00;
    color:#fff;
    text-decoration: none;
  }

  .navbar-portfolio,
  .navbar-scroll{
    padding: 10px 0;
    background-color: var(--color5);
  }

  .nav-btn{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent !important;
    border: 3px solid #000;
    cursor: pointer;
    display: flex;
  }


  .nav-icon{
    position: relative;
    width: 35px;
    height: 26px;
    display: flex;
    align-items: center;
    margin: auto;
    transition: all 1s;
  }

  .nav-btn.active-btn .nav-icon{
    transform: rotate(315deg);
  }


  .nav-icon span{
    position: absolute;
    display: block;
    height: 8px;
    background-color: #fff;
    border: 2px solid var(--color2);
    border-radius: 10px;
    transition: all .3s; 
    transition-delay: 1s;
  }

  .nav-icon span:nth-child(1){
    top: 0;
    left: 0;
    width: 50%;
    transform: translateY(0);
  }

  .nav-btn.active-btn span:nth-child(1){
    width: 100%;
    transform: translateY(10px);
    transition-delay: 0s;
  }

  .nav-icon span:nth-child(2){
    width: 100%;
    transform: scaleX(1);
    opacity: 1;
  }

  .nav-btn.active-btn span:nth-child(2){
    transform: scaleX(0);
    opacity: 0;
    transition-delay: 0s;
  }

  .nav-icon span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 50%;
    transform: rotate(0);
  }

  .nav-btn.active-btn span:nth-child(3){
    bottom: 8px;
    width: 100%;
    transform: rotate(90deg);
    transition-delay: 0s;
  }

  .container-social .social-icon{
    border: 3px solid var(--color5);
  }
  
  .container-social .social-icon i{
    color: #fff;
  }

  .container-social .social-icon:hover{
    border: 3px solid #000;
  }
  
  .container-social .social-icon::after {
    background: var(--color5);
  }
  

  .container-social .btn-redirect-contact{
    color: #fff !important;
    border: 3px solid var(--color5);
  }
  
  
  .container-social .btn-redirect-contact:hover {
    color: #fff !important;
    border: 3px solid #000;
  }
  
  .container-social .btn-redirect-contact::after {
    background: var(--color5); 
  }
  
}


@media(max-width:600px){

  .container-social .social-icon{
    padding: 8px 10px;
    
  }
  
  .container-social .social-icon i{
    font-size: 20px;
  }

  .container-social .btn-redirect-contact{
    font-size: 16px;
    margin-left: 10px;
  }

  
}

@media(max-width:430px){
  .container-navbar-mobile{
    margin: 0 20px;
  }
}