/* Noto Sans Mono */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
/* Monserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
/* Silkscreen */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root{

  /* Tipografía */
  --tipografiaP:'Montserrat', sans-serif;
  --tipografiaS:'Noto Sans Mono', monospace;
  --tipografiaT:'Silkscreen', cursive;

  /* Colors */
  --color1: #141313;
  --color2 : #132937;
  --color3 : #325c7c;
  --color4 : #3d80ac;
  --color5 : #4acdce;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  height: 100vh;
}

body{
  background-color: var(--color1) !important;
  color: #fff !important;
}

a{
  color: #fff !important;
}



/* Titles */
.container-title{
  display: block;
  overflow: hidden;
  line-height: unset;
  font-weight: 900;
  text-align: center;
  margin: 0 0 30px 0;
}

.title{
  display: inline-block;
  font-size: 85px;
  font-family: var(--tipografiaSB);
  color: var(--color5);
}


/* Espacio entre letras */
.space{
  margin: 0 10px;
}


/* Bg gradient */

.bg-gradient-1{
  background: rgb(20,19,19);
  background: linear-gradient(180deg, rgba(20,19,19,1) 0%, rgba(19,41,55,1) 100%);
}

.bg-gradient-2{
  background: rgb(19,41,55);
  background: linear-gradient(180deg, rgba(19,41,55,1) 0%, rgba(20,19,19,1) 100%);
}


/* Sections page */
.section-page{
  display: grid;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  padding: 200px 0 50px 0;
}

/* Container */
.container-page{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.max-width{
  max-width: 1300px !important;
  flex-wrap: wrap;
}

/* Container Text Skills/About */
.container-text{
  width: 40%;
}


