/* Noto Sans Mono */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
/* Monserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
/* Silkscreen */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root{

  /* Tipografía */
  --tipografiaP:'Montserrat', sans-serif;
  --tipografiaS:'Noto Sans Mono', monospace;
  --tipografiaT:'Silkscreen', cursive;

  /* Colors */
  --color1: #141313;
  --color2 : #132937;
  --color3 : #325c7c;
  --color4 : #3d80ac;
  --color5 : #4acdce;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  height: 100vh;
}

body{
  background-color: var(--color1) !important;
  color: #fff !important;
}

a{
  color: #fff !important;
}



/* Titles */
.container-title{
  display: block;
  width: fit-content;
  overflow: hidden;
  line-height: unset;
  font-weight: 900;
  margin: 0;
}

.title{
  display: inline-block;
  font-size: 85px;
  font-family: var(--tipografiaSB);
  color: var(--color5);
}

.margin-title{
  margin-left: 100px;
}

/* Espacio entre letras */
.space{
  margin: 0 10px;
}


